{% extends 'base.html'%}

{% block content %}
    <h1>Página inicial</h1>
    
    <div>
    <h2>Nosso trabalho</h2> 
    <a>Lorem ipsum dolor sit amet, consectetur c quam sit amet posuere non magna. 
    Pellentesque leo eros, auctor eget mollis ac, fringilla id justo.</a>
    </div>

    <div>
    <h2>Adotar salva vidas!</h2>
    <a>Lorem ipsum dolor sit amet, consectetur c quam sit amet posuere non magna. 
    Pellentesque leo eros, auctor eget mollis ac, fringilla id justo.</a>
    </div>

    <h2>Passo a passo da adoção</h2>

    <h2>Animais disponiveis para adoção</h2>
    <a>Lorem ipsum dolor sit amet, consectetur c quam sit amet posuere non magna.
        Pellentesque leo eros, auctor eget mollis ac, fringilla id justo.</a>
     
    <h2>Vamos juntos nessa Jornada!</h2>
    <a>Lorem ipsum dolor sit amet, consectetur c quam sit amet posuere non magna.
     Pellentesque leo eros, auctor eget mollis ac, fringilla id justo.</a>
{% endblock %}