<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Animais</title>
</head>
<body>
    <h1>Lista de Animais</h1>
    <ul>
        {% for animal in animais %}
            <li>
                <h2>{{ animal.nome }}</h2>
                <!-- Outras informações do animal podem ser exibidas aqui -->
                <p><a href="{% url 'animal_detail' pk=animal.pk %}">Detalhes</a></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>